$main-font: 'DM Sans', sans-serif;
$second-font: 'Titan One', sans-serif;

$main-color: #FFFFFF;
$accent-light-color: #FFA5BA;
$accent-color: #D41443;
$dark-color: #000000;
$additional-color: #907E82;
$elipse-color-one: #D9D9D9;
$elipse-color-two: #C7133E;

$mobile-bgc: #E17992;
$main-bgc: #FFB8CA;
$main-bgc-light: #FFF5F6;
$shake-bgc: #C2E297;
$coffe-bgc: #F0D1A5;
$slider-bgc: #FAFAFA;
$footer-bgc: #FFF5F6;
