$main-font: 'DM Sans', sans-serif;
$second-font: 'Titan One', sans-serif;

$main-color: #FFFFFF;
$link-color: #D41443;
$accent-color: #D41443;

$mobile-bgc: #E17992;
$main-bgc: #FFB8CA;
$circle-bgc: #FFA5BA;

$btn-bgc-one: #fff;
$btn-bgc-two: #D41443;